{% extends 'main.html' %}
{% block content %}
    
<style>

    .courses-wrapper{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    
    .search-button{
        border: 10px;
        font-weight: bold;
        color: chocolate;
        background-color: chartreuse;
    }

    .courses{
        padding-left: 10%;
    }

    #date{
        background-color: grey;
        color: white;
    }

    #search-input input,
    #search-input textarea,
    #search-input select 
    #search-input {
        color: black;
        border: 1px solid var(--color-dark-light);
        border-radius: 5px;
        padding: 1rem;
        font-weight: 500;
        outline: none;
    }


    .create-course{
        border: 2px solid;
        border-radius: 20%;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;

    }

</style>

<div class="courses-wrapper">
    <div class="searchbar">
        <h1>Filter Courses</h1>
        <form class="search-input" action="{% url 'home' %}">
            <label for="course_q">
                <input id="search-input" name="course_title_q" placeholder="Search for courses...">
                <h5>
                    Course Starts 
                    <input id="date" name="course_starts_q" type="date" placeholder="Course starts">
                </h5>
                <hr>
                <input type="Submit" value="Search" class="search-button">
            </label>
        </form>
    </div>
    <div class="courses">
        <h1>Browse Courses</h1>
        {% for course in courses %}
            <h5><a href="{% url 'course' course.id%}">{{course}}</a></h5>
        {% endfor %}
    </div>
</div>

<div class="course-footer">
    <div class="create-course">
        <h3>Want to create your own course?</h3>
        <a href="{% url 'create-course' %}">Create Course</a>
    </div>
</div>

{% endblock content %}